PROXMOX_VE_CLOUD_IMAGE_URL="https://github.com/nodadyoushutup/cloud-image/releases/download/0.1.13/cloud-image-x86-64-jammy-0.1.13.img"

GITHUB_USERNAME="nodadyoushutup"
GIT_REPOSITORY_URL="https://github.com/nodadyoushutup/iac"
GIT_REPOSITORY_BRANCH="main"
GITCONFIG_NAME="nodadyoushutup"
GITCONFIG_EMAIL="admin@nodadyoushutup.com"

VIRTUAL_MACHINE_GLOBAL_USERNAME="ubuntu"
VIRTUAL_MACHINE_GLOBAL_GATEWAY="192.168.1.1"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_DISK="virtualization"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_ISO="local"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_SNIPPET="local"

VIRTUAL_MACHINE_TRUENAS_IP_ADDRESS="192.168.1.100"
VIRTUAL_MACHINE_TRUENAS_NFS_MEDIA="/mnt/epool/media"

VIRTUAL_MACHINE_DOCKER_IP_ADDRESS="192.168.1.102"
VIRTUAL_MACHINE_DOCKER_MAC_ADDRESS="0a:00:00:00:11:02"
VIRTUAL_MACHINE_DOCKER_VMID=1102
VIRTUAL_MACHINE_DOCKER_CPU_CORES=2
VIRTUAL_MACHINE_DOCKER_MEMORY_DEDICATED=16384
VIRTUAL_MACHINE_DOCKER_DISK_SIZE=50

VIRTUAL_MACHINE_DEVELOPMENT_IP_ADDRESS="192.168.1.103"
VIRTUAL_MACHINE_DEVELOPMENT_MAC_ADDRESS="0a:00:00:00:11:03"
VIRTUAL_MACHINE_DEVELOPMENT_VMID=1103
VIRTUAL_MACHINE_DEVELOPMENT_CPU_CORES=2
VIRTUAL_MACHINE_DEVELOPMENT_MEMORY_DEDICATED=16384
VIRTUAL_MACHINE_DEVELOPMENT_DISK_SIZE=50

JENKINS_ENDPOINT="http://192.168.1.101:8080"

terraform_provider = {
    proxmox = {
        endpoint = "https://192.168.1.10:8006"
        password = ""
        username = "root@pam"
        ssh = {
            username = "root"
            node = {
                name = "pve"
                address = "192.168.1.10"
            }
        }
    }
}

talos = {
    controlplane = [
        {
            ip_address = "192.168.1.200"
            mac_address = "0a:00:00:00:12:00"
            vm_id = 1200
            cores = 4
            memory = 4096
        },
        {
            ip_address = "192.168.1.201"
            mac_address = "0a:00:00:00:12:01"
            vm_id = 1201
            cores = 4
            memory = 4096
        },
        {
            ip_address = "192.168.1.202"
            mac_address = "0a:00:00:00:12:02"
            vm_id = 1202
            cores = 4
            memory = 4096
        },
    ]
    worker = [
        {
            ip_address = "192.168.1.203"
            mac_address = "0a:00:00:00:12:03"
            vm_id = 1203
            cores = 4
            memory = 16384
        },
        {
            ip_address = "192.168.1.204"
            mac_address = "0a:00:00:00:12:04"
            vm_id = 1204
            cores = 4
            memory = 16384
        },
        {
            ip_address = "192.168.1.205"
            mac_address = "0a:00:00:00:12:05"
            vm_id = 1205
            cores = 4
            memory = 16384
        },
        {
            ip_address = "192.168.1.206"
            mac_address = "0a:00:00:00:12:06"
            vm_id = 1206
            cores = 4
            memory = 16384
        },
        {
            ip_address = "192.168.1.207"
            mac_address = "0a:00:00:00:12:07"
            vm_id = 1207
            cores = 4
            memory = 16384
        },
    ]
}