GITHUB_USERNAME="nodadyoushutup"
GIT_REPOSITORY_URL="https://github.com/nodadyoushutup/iac"
GIT_REPOSITORY_BRANCH="main"
GITCONFIG_NAME="nodadyoushutup"
GITCONFIG_EMAIL="admin@nodadyoushutup.com"

terraform = {
    proxmox = {
        endpoint = "https://192.168.1.10:8006"
        password = ""
        username = "root@pam"
        ssh = {
            username = "root"
            node = {
                name = "pve"
                address = "192.168.1.10"
            }
        }
    }
}

machine = {
    clickops = {
        nas = {
            ipv4 = {
                address = "192.168.1.100"
                gateway = "192.168.1.1"
            }
            name = "truenas"
            network_device = {
                mac_address = "0a:00:00:00:10:00"
            }
        }
        cicd = {
            ipv4 = {
                address = "192.168.1.101"
                gateway = "192.168.1.1"
            }
            name = "cicd"
            network_device = {
                mac_address = "0a:00:00:00:11:01"
            }
        }
    }
    required = {
        docker = {
            ipv4 = {
                address = "192.168.1.102"
                gateway = "192.168.1.1"
            }
            name = "docker"
            network_device = {
                mac_address = "0a:00:00:00:11:02"
            }
            cpu = {
                cores = 2
            }
            memory = {
                dedicated = 16384
            }
            disk = {
                size = 50
            }
            vm_id = 1102
            exec = []
        }
        development = {
            ipv4 = {
                address = "192.168.1.103"
                gateway = "192.168.1.1"
            }
            name = "development"
            network_device = {
                mac_address = "0a:00:00:00:11:03"
            }
            cpu = {
                cores = 2
            }
            memory = {
                dedicated = 16384
            }
            disk = {
                size = 50
            }
            vm_id = 1103
            exec = []
        }
    }
    talos = {
        controlplane = [
            {
                ipv4 = {
                    address = "192.168.1.200"
                    gateway = "192.168.1.1"
                }
                name = "talos-cp-0"
                network_device = {
                    mac_address = "0a:00:00:00:12:00"
                }
                cpu = {
                    cores = 2
                }
                memory = {
                    dedicated = 8192
                }
                disk = {
                    size = 20
                }
                vm_id = 1200
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.201"
                    gateway = "192.168.1.1"
                }
                name = "talos-cp-1"
                network_device = {
                    mac_address = "0a:00:00:00:12:01"
                }
                cpu = {
                    cores = 2
                }
                memory = {
                    dedicated = 8192
                }
                disk = {
                    size = 20
                }
                vm_id = 1200
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.202"
                    gateway = "192.168.1.1"
                }
                name = "talos-cp-2"
                network_device = {
                    mac_address = "0a:00:00:00:12:02"
                }
                cpu = {
                    cores = 2
                }
                memory = {
                    dedicated = 8192
                }
                disk = {
                    size = 20
                }
                vm_id = 1200
                exec = []
            },
        ]
        worker = [
            {
                ipv4 = {
                    address = "192.168.1.203"
                    gateway = "192.168.1.1"
                }
                name = "talos-wk-0"
                network_device = {
                    mac_address = "0a:00:00:00:12:03"
                }
                cpu = {
                    cores = 4
                }
                memory = {
                    dedicated = 16384
                }
                disk = {
                    size = 20
                }
                vm_id = 1203
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.204"
                    gateway = "192.168.1.1"
                }
                name = "talos-wk-1"
                network_device = {
                    mac_address = "0a:00:00:00:12:04"
                }
                cpu = {
                    cores = 4
                }
                memory = {
                    dedicated = 16384
                }
                disk = {
                    size = 20
                }
                vm_id = 1204
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.205"
                    gateway = "192.168.1.1"
                }
                name = "talos-wk-2"
                network_device = {
                    mac_address = "0a:00:00:00:12:05"
                }
                cpu = {
                    cores = 4
                }
                memory = {
                    dedicated = 16384
                }
                disk = {
                    size = 20
                }
                vm_id = 1205
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.206"
                    gateway = "192.168.1.1"
                }
                name = "talos-wk-3"
                network_device = {
                    mac_address = "0a:00:00:00:12:06"
                }
                cpu = {
                    cores = 4
                }
                memory = {
                    dedicated = 16384
                }
                disk = {
                    size = 20
                }
                vm_id = 1206
                exec = []
            },
            {
                ipv4 = {
                    address = "192.168.1.207"
                    gateway = "192.168.1.1"
                }
                name = "talos-wk-4"
                network_device = {
                    mac_address = "0a:00:00:00:12:07"
                }
                cpu = {
                    cores = 4
                }
                memory = {
                    dedicated = 16384
                }
                disk = {
                    size = 20
                }
                vm_id = 1207
                exec = []
            },
        ]
    }
    custom = {} # Left empty for now
    global = {} # left empty for now
}

