git = {
    github_username = "nodadyoushutup"
    gitconfig = {
        name = "nodadyoushutup"
        email = "admin@nodadyoushutup.com"
    }
    repository = {
        branch = "main"
        url = "https://github.com/nodadyoushutup/iac"
    }
}

terraform = {
    proxmox = {
        endpoint = "https://192.168.1.10:8006"
        password = ""
        username = "root@pam"
        ssh = {
            username = "root"
            node = {
                name = "pve"
                address = "192.168.1.10"
            }
        }
    }
}

jenkins = {
    endpoint = "http://192.168.1.101:8080/"
}

machine = {
    clickops = {
        nas = {
            initialization = {
                ip_config = {
                    ipv4 = {
                        address = "192.168.1.100"
                        gateway = "192.168.1.1"
                    }
                }
            }
            name = "truenas"
        }
        cicd = {
            initialization = {
                ip_config = {
                    ipv4 = {
                        address = "192.168.1.101"
                        gateway = "192.168.1.1"
                    }
                }
            }
            name = "cicd"
        }
    }
    
    cloud = {
        required = [
            {
                name = "docker"
                vm_id = 1102
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.102"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "development"
                vm_id = 1103
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.103"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
        ]

        custom = []
    }

    talos = {
        name = "talos"
        controlplane = [
            {
                name = "talos-cp-0"
                vm_id = 1200
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.200"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-cp-1"
                vm_id = 1201
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.201"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-cp-2"
                vm_id = 1202
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.202"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            }
        ]

        worker = [
            {
                name = "talos-wk-0"
                vm_id = 1203
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.203"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-wk-1"
                vm_id = 1204
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.204"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-wk-2"
                vm_id = 1205
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.205"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-wk-3"
                vm_id = 1206
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.206"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            },
            {
                name = "talos-wk-4"
                vm_id = 1207
                initialization = {
                    ip_config = {
                        ipv4 = {
                            address = "192.168.1.207"
                            gateway = "192.168.1.1"
                        }
                    }
                }
            }
        ]
    }

    global = {
        cloud_config = {
            auth = {
                github = "nodadyoushutup"
            }
        }
        agent = {
            enabled = true
            timeout = "5m"
            trim = false
            type = "virtio"
        }
        audio_device = {
            device  = "intel-hda"
            driver  = "spice"
            enabled = true
        }
        bios = "ovmf"
        boot_order = ["scsi0"]
        cpu = {
            cores = 2
            flags = ["+aes"]
            hotplugged = 0
            limit = 0
            numa = false
            sockets = 1
            type = "x86-64-v2-AES"
            units = 1024
            # affinity = null
        }
        description = "Virtual machine"
        disk = {
            aio = "io_uring"
            backup = true
            cache = "none"
            # datastore_id = "virtualization"
            discard = "on"
            file_format = "raw"
            interface = "scsi0"
            iothread = false
            replicate = true
            # serial = null
            size = 20
            ssd = true
        }
        efi_disk = {
            file_format = "raw"
            type = "4m"
            pre_enrolled_keys = false
        }
        initialization = {
            ip_config = {
                ipv4 = {
                    gateway = "192.168.1.1"
                }
            }
        }
        machine = "q35"
        memory = {
            dedicated = 4096
            floating = 0
            shared = 0
        }
        name = "cloud-image"
        network_device = {
            bridge = "vmbr0"
            disconnected = false
            enabled = true
            firewall = false
            model = "virtio"
        }
        on_boot = true
        operating_system = {
            type = "l26"
        }
        started = true
        startup = {
            order = 1
            up_delay = 0
            down_delay = 0
        }
        tags = ["gitops"]
        stop_on_destroy = true
        vga = {
            memory = 16
            type = "qxl"
            clipboard = "vnc"
        }
    }

    custom = {} # Left empty for now
    
}

