PROXMOX_VE_ENDPOINT="https://192.168.1.10:8006"
PROXMOX_VE_PASSWORD=""
PROXMOX_VE_USERNAME="root@pam"
PROXMOX_VE_SSH_USERNAME="root"
PROXMOX_VE_SSH_NODE_NAME="pve"
PROXMOX_VE_SSH_NODE_ADDRESS="192.168.1.10"
PROXMOX_VE_CLOUD_IMAGE_URL="https://github.com/nodadyoushutup/cloud-image/releases/download/0.1.12/cloud-image-x86-64-jammy-0.1.12.img"

GITHUB_USERNAME="nodadyoushutup"
GITCONFIG_NAME="nodadyoushutup"
GITCONFIG_EMAIL="admin@nodadyoushutup.com"

VIRTUAL_MACHINE_GLOBAL_USERNAME="ubuntu"
VIRTUAL_MACHINE_GLOBAL_GATEWAY="192.168.1.1"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_DISK="virtualization"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_ISO="local"
VIRTUAL_MACHINE_GLOBAL_DATASTORE_ID_SNIPPET="local"

VIRTUAL_MACHINE_TRUENAS_IP_ADDRESS="192.168.1.100"
VIRTUAL_MACHINE_TRUENAS_NFS_MEDIA="/mnt/epool/media"

VIRTUAL_MACHINE_DOCKER_IP_ADDRESS="192.168.1.102"
VIRTUAL_MACHINE_DOCKER_MAC_ADDRESS="0a:00:00:00:11:02"
VIRTUAL_MACHINE_DOCKER_VMID=1102
VIRTUAL_MACHINE_DOCKER_CPU_CORES=2
VIRTUAL_MACHINE_DOCKER_MEMORY_DEDICATED=16384
VIRTUAL_MACHINE_DOCKER_DISK_SIZE=50

VIRTUAL_MACHINE_DEVELOPMENT_IP_ADDRESS="192.168.1.103"
VIRTUAL_MACHINE_DEVELOPMENT_MAC_ADDRESS="0a:00:00:00:11:03"
VIRTUAL_MACHINE_DEVELOPMENT_VMID=1103
VIRTUAL_MACHINE_DEVELOPMENT_CPU_CORES=2
VIRTUAL_MACHINE_DEVELOPMENT_MEMORY_DEDICATED=16384
VIRTUAL_MACHINE_DEVELOPMENT_DISK_SIZE=50