talos-proxmox-talos-cp-0.yaml
talos-proxmox-talos-wk-0.yaml
talosconfig
talos-proxmox-talos-cp-1.yaml
talos-proxmox-talos-cp-2.yaml
talos-proxmox-talos-wk-1.yaml
talos-proxmox-talos-wk-2.yaml
talos-proxmox-talos-wk-3.yaml
